<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Upload file</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:if="${message}">
            <h2 th:text="${message}"></h2>
        </div>
        
        <div>
            <form method="POST" enctype="multipart/form-data" action="/api/upload-files/">
                <table>
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" name="file"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Upload"></td>
                    </tr>
                </table>
            </form>
        </div>
        
        <div>
            <ul>
                <li th:each="file : ${files}">
                    <a th:href="${file}" th:text="${file}"></a>
                </li>
            </ul>
        </div>
    </body>
</html>
