<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>View Products</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $(document).ready(() => {
                $.getJSON("http://localhost:8081/products", result => {
                    $.each(result, (key, value) => {
                        $("#productsJson").append(`${value.id} ${value.name} `);
                    });
                });
            });
        </script>
    </head>
    <body>
        <div id="productsJson"></div>
    </body>
</html>